<%- include('./partials/head', { title: 'An error occurred' }) %>
    </head>

    <body>
        <%- include('./partials/header') %>
            <main>
                <h1>Sometihng went wrong!</h1>
                <p>Unfortunately, something went wrong - please try again later</p>
                <p><a class="btn" href="/">Back to port</a></p>

            </main>
            <%- include('./partials/footer') %>
    </body>

    </html>