<%- include('partials/head.ejs', { title: 'Online Shop' }) %>
    </head>

    <body>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corrupti nisi dolorum doloribus labore voluptatum
            officia, quas a? Esse porro, eaque et perspiciatis, quo laudantium totam nemo veritatis ad officia repellat!
            Quaerat repellendus impedit quasi, ducimus cupiditate amet odit ratione. Explicabo, fuga rem laborum illo
            eos
            magni accusantium molestias hic fugit natus ipsam recusandae numquam? Optio totam accusantium unde aliquid,
            repellat odio laborum. Autem vitae tempore amet blanditiis, doloribus magni aliquid tenetur dicta maiores
            repellat temporibus minus, dolorum nam quos, ullam repellendus? Mollitia dolores ratione odit tenetur,
            laborum
            soluta? Quod aperiam numquam veritatis dolore rerum! Sint ab nostrum soluta consectetur vitae aliquam quia
            odio,
            facere voluptas sapiente laborum nisi pariatur nobis fugiat in. Voluptates impedit obcaecati sequi
            dignissimos
            deserunt commodi ullam corrupti unde, doloremque consequuntur placeat molestiae voluptatem atque mollitia
            similique omnis enim expedita, error quos saepe natus eos aspernatur. Aspernatur veritatis quis eligendi
            odio
            veniam excepturi voluptatibus cum nam, nemo dicta minus inventore repellendus quam dolorum ratione delectus
            iusto facilis tempore saepe qui quos, quae possimus? Repellendus dolorem natus, id eveniet exercitationem
            cupiditate animi deserunt. Nemo consectetur vitae odio nobis fugit, et error doloremque debitis optio ipsum
            maxime dolorum officiis sed unde, accusantium, ratione non ullam iste modi obcaecati assumenda.</p>
    </body>

    </html>