<%- include('../../shared/partials/head', { title: 'Admin Products' }) %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
    </head>

    <body>
        <%- include('../../shared/partials/header') %>
            <main>
                <h1>Product Administration</h1>
                <section>
                    <h2>Manage Products</h2>
                    <a href="/admin/products/new" class="btn">Add Product</a>
                </section>
                <section>
                    <p>A list of products..</p>
                    <%- include('./products', { products }) %>
                </section>
            </main>
            <%- include('../../shared/partials/footer') %>
    </body>

    </html>