        <ul>
            <% for (const product of products) { %>
                <li>
                    <p>  <%= product.name %> -  <%= product.price %> -    <%= product.description %>  </p>
                </li>
                <% } %>
        </ul>