<%- include('../partials/head', { title: 'Login Page' }) %>
    </head>


    <body>
        <%- include('../partials/header') %>
            <p>login page</p>
            <%- include('../partials/footer') %>
    </body>

    </html>