<%- include('../partials/head', { title: 'Login Page' }) %>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
    </head>

    <body>
        <%- include('../partials/header') %>
            <main>
                <h1>Login page</h1>
                <form action="/login" method="POST">
                    <p>
                        <label for="email">Email</label>
                        <input type="email" placeholder="enter email here" name="email" id="email" required>
                    </p>
                    <p>
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password" minlength="6" required>
                    </p>
                    <button class="btn" type="submit">Login</button>
                    <p id="switch-form"><a href="/signup">No Account?, Create One Here</a></p>
                </form>
            </main>
            <%- include('../partials/footer') %>
    </body>

    </html>